# 2.1 - Introducci칩n a Python

https://docs.python.org/3/

![python](images/python.png)

$$$$

Python es un lenguaje de programaci칩n interpretado cuya filosof칤a hace hincapi칠 en la legibilidad de su c칩digo. Se trata de un lenguaje de programaci칩n multiparadigma, ya que soporta parcialmente la orientaci칩n a objetos, programaci칩n imperativa y, en menor medida, programaci칩n funcional. Es un lenguaje interpretado, din치mico y multiplataforma.

Es administrado por la Python Software Foundation. Posee una licencia de c칩digo abierto, denominada Python Software Foundation License.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

```python
Bonito es mejor que feo.
Expl칤cito es mejor que impl칤cito.
Simple es mejor que complejo.
Complejo es mejor que complicado.
Plano es mejor que anidado.
Disperso es mejor que denso.
La legibilidad cuenta.
Los casos especiales no son tan especiales como para romper las reglas.
Aunque la practicidad gana a la pureza.
Los errores nunca deben pasar en silencio.
A menos que se silencien expl칤citamente.
Ante la ambig칲edad, rechaza la tentaci칩n de suponer.
Debe haber una -y preferiblemente s칩lo una- forma obvia de hacerlo.
Aunque esa manera puede no ser obvia al principio, a menos que seas holand칠s.
Ahora es mejor que nunca.
Aunque nunca es a menudo mejor que *ahora mismo*.
Si la implementaci칩n es dif칤cil de explicar, es una mala idea.
Si la implementaci칩n es f치cil de explicar, puede ser una buena idea.
Los espacios de nombres son una gran idea, 춰hagamos m치s de ellos!
```

**Tabla de contenidos:**

    1  N칰meros enteros (integer)
    2  N칰meros reales (float)
    3  N칰meros complejos (complex)
    4  Operaciones b치sicas
    5  Booleanos
    6  Valores nulos (None)
    7  Cadenas de caracteres (string)
    8  Tipos compuestos:
        8.1  Listas
        8.2  Tuplas
        8.3  Conjuntos (set)
        8.4  Diccionarios
    9  M치s

## N칰meros enteros (integer)

In [2]:
edad = 38

In [3]:
type(edad)

int

In [4]:
type(5)

int

In [5]:
type(-56)

int

## N칰meros reales (float)

In [6]:
temp = 36.5

In [7]:
type(temp)

float

In [8]:
type(1.610833)

float

In [9]:
type(3.1416)

float

## N칰meros complejos (complex)

Los n칰meros complejos, designados con la notaci칩n $c$, son una extensi칩n de los n칰meros reales $R$ y forman un cuerpo algebraicamente cerrado. Entre ambos conjuntos de n칰meros se cumple que $RcC$, es decir: $R$ est치 estrictamente contenido en $c$. Los n칰meros complejos incluyen todas las ra칤ces de los polinomios, a diferencia de los reales. Todo n칰mero complejo puede representarse como la suma de un n칰mero real y un n칰mero imaginario (que es un m칰ltiplo real de la unidad imaginaria, que se indica con la letra $i$ (en nuestro caso $j$)

In [10]:
4 +2j

(4+2j)

In [11]:
type(4+2j)

complex

## Operaciones b치sicas

In [12]:
#suma

3 +4

7

In [13]:
3.4 + 5.4

8.8

In [14]:
# resta 
5 - 2

3

In [15]:
3.5 - 2.1

1.4

In [16]:
# multiplicacion
3*4

12

In [17]:
3.2 * 4.1

13.12

In [18]:
# division
4/3

1.3333333333333333

In [19]:
4.2/2.3

1.8260869565217392

In [20]:
# division entera
4 // 3

1

In [22]:
# modulo

4%3

1

In [23]:
# jerarquia de operaciones
2 + 3 * 4

14

In [24]:
4 * (4+2)

24

In [25]:
# potencia / raiz

5**2

25

In [26]:
25 ** 0.5

5.0

In [27]:
3 ** (1 +5 +6)

531441

In [28]:
# conversiones

numero = 1

In [29]:
type(numero)

int

In [30]:
type(str(numero))

str

In [31]:
int(3.99)

3

In [32]:
round(3.99)

4

In [33]:
round(3.49)

3

In [34]:
round(4.5674674767, 3)

4.567

In [35]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
help()

In [36]:
import math  # libreria

In [37]:
math.floor(6.83)

6

In [38]:
math.ceil(6.13)

7

In [39]:
math.log10(100)

2.0

In [41]:
#help(math)

## Booleanos

In [42]:

bool(1)

True

In [43]:
bool(0)

False

In [44]:
True

True

In [45]:
False

False

In [46]:
True * False

0

In [47]:
True == False

False

In [48]:
50 > 500

False

https://wiki.python.org/moin/BitwiseOperators

In [49]:
4 | 2

6

In [50]:
4 >> 2

1

In [52]:
4 & 2 # and

0

#### Ley de De Morgan
```python
not (a or b) == (not a) and (not b)
not (a and b) == (not a) or (not b)
```

In [57]:
not (True or False) == (not True) and (not False)

True

In [58]:
not (True and False) == (not True) or (not False)

True

## Valores nulos (None)

In [56]:
None

In [59]:
type(None)

NoneType

## Cadenas de caracteres (string)

In [60]:
nombre = 'Kike'

In [61]:
type(nombre)

str

In [62]:
'Buenos d칤as, estamos empezando Python'

'Buenos d칤as, estamos empezando Python'

In [63]:
# cuidado con la comillas
'Quienes somos... "Ironhackers"'

'Quienes somos... "Ironhackers"'

In [64]:
'Hola' David

SyntaxError: invalid syntax (2289581369.py, line 1)

In [65]:
"Hola 'David'"

"Hola 'David'"

In [66]:
"Hola, como estais 'David' y 'Pablo'"

"Hola, como estais 'David' y 'Pablo'"

In [67]:
print('Hola como esta칤s, espero que no muy aburridos')

Hola como esta칤s, espero que no muy aburridos

In [68]:
# Comentarios

In [70]:
print('''
Hola
esto es
un comentario
multilinea
''')

Hola
esto es
un comentario
multilinea

In [71]:
comentario_multilinea = '''
    comentario
    multilinea
'''

In [72]:
print(comentario_multilinea)

    comentario
    multilinea

In [75]:
def suma (a, b):
    '''
        Esta funci칩n suma dos numeros
        a = int
        b = int
    '''
    return a + b

In [76]:
suma(1, 2)

3

In [77]:
# hola
# esto es un comentario
# multilinea

In [78]:
help(suma)

Help on function suma in module __main__:

suma(a, b)
    Esta funci칩n suma dos numeros
    a = int
    b = int

In [79]:
'hola' + 2

TypeError: can only concatenate str (not "int") to str

In [80]:
'hola' + '2'

'hola2'

In [81]:
'hola' + ' 2'

'hola 2'

In [82]:
'hola' * 2

'holahola'

In [83]:
saludo = 'hola'

saludo += '2'

saludo

'hola2'

In [84]:
saludo *= 3
saludo

'hola2hola2hola2'

In [85]:
a = 2

a /= 3

In [86]:
a

0.6666666666666666

In [87]:
a =/ 3

SyntaxError: invalid syntax (1848688498.py, line 1)

In [88]:
print(f'Estoy imprimiendo el valor de {a}')

Estoy imprimiendo el valor de 0.6666666666666666

In [91]:
print('Hola estoy imprimiendo a formateada {:.2f}'.format(a))

Hola estoy imprimiendo a formateada 0.67

In [92]:
'''hola como
estas'''

'hola como\nestas'

In [93]:
b = 5/3

In [97]:
print('Estoy imprimiendo a y b formateadas a={:.3f}, b={:.4f}'.format(b,a))

Estoy imprimiendo a y b formateadas a=1.667, b=0.6667

## Listas

In [103]:
lst = [2, 3, 5 , 7 , 12 , 3543, 654, 23452]

lst2 = ['Hola', 'Pepe', 'manuel', 'zzz']

print(lst)

[2, 3, 5, 7, 12, 3543, 654, 23452]

In [100]:
type(lst)

list

In [101]:
min(lst), min(lst2)

(2, 'Hola')

In [104]:
max(lst), max(lst2)

(23452, 'zzz')

In [113]:
ord('z')+ord('z')+ord('z') == 366

True

In [114]:
lst3 = ['1', 's', 's', 'i']

In [116]:
''.join(lst3)

'1ssi'

In [117]:
''.join(lst2)

'HolaPepemanuelzzz'

In [120]:
'--->'.join(lst2)

'Hola--->Pepe--->manuel--->zzz'

In [121]:
type('..'.join(lst2))

str

In [122]:
type(lst2)

list

In [123]:
lst2 = '--->'.join(lst2)

In [124]:
type(lst2)

str

In [125]:
# slicing, acceso por indice en las listas

# lst[start : stop : step]

len(lst)

8

In [126]:
lst[4]

12

In [127]:
lst[2:6]

[5, 7, 12, 3543]

In [131]:
lst[::2]

[2, 5, 12, 654]

In [133]:
lst2[::2]

'Hl--Pp--mne--zz'

**tipos de bucles**

In [132]:
for e in lst2:
    print(e)

H
o
l
a
-
-
-
>
P
e
p
e
-
-
-
>
m
a
n
u
e
l
-
-
-
>
z
z
z

In [140]:
# ahora por indices
for i in range(len(lst2)):
    print (f'este es el indice {i}, y este el elemento al que accedo por el indice {lst2[i]}')
    if i == 5:
        break

este es el indice 0, y este el elemento al que accedo por el indice H
este es el indice 1, y este el elemento al que accedo por el indice o
este es el indice 2, y este el elemento al que accedo por el indice l
este es el indice 3, y este el elemento al que accedo por el indice a
este es el indice 4, y este el elemento al que accedo por el indice -
este es el indice 5, y este el elemento al que accedo por el indice -

In [146]:
for i,e in enumerate(lst2):
    print(e, i, sep='-->')
    if i == 5:
        break

H-->0
o-->1
l-->2
a-->3
--->4
--->5

In [148]:
e

'-'

In [151]:
type(list(enumerate(lst))[2])

tuple

In [153]:
dict(zip(lst,lst2))

{2: 'H', 3: 'o', 5: 'l', 7: 'a', 12: '-', 3543: '-', 654: '-', 23452: '>'}

In [154]:
# fibonacci con bucle while

lst = [0, 1]

a = 0
b = 1

print(a)
print(b)

contador = 0

while contador <= 10:
    
    c = a+b
    
    print(c)
    
    lst.append(c)
    
    a = b
    b = c
    
    contador += 1

print('fin')

0
1
1
2
3
5
8
13
21
34
55
89
144
fin

In [157]:
# fibonacci con bucle for

a = 0
b = 1

print(a)
print(b)

for _ in range(11):
    
    c = a+b
    print(c)
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34
55
89
144

**condicionales**

In [162]:
estudiante = 'Pepe 游땽'

In [163]:
estudiante[-1]

'游땽'

In [164]:
len(estudiante)

6

In [165]:
if estudiante[-1] == '游땽':
    print(estudiante, ' el estudiante puede entrar en el metro')
else:
    print(estudiante, ' no puedes paaasar')

Pepe 游땽  el estudiante puede entrar en el metro

In [168]:
a = 5

if a == 0:
    print(a, 'no vale nada')

elif a <= 0:
    print(a, 'es menor')
else:
    print (a, 'es mayor')

5 es mayor

**list comprehension**

In [169]:
lst = []

for i in range(11):
    lst.append(i)

print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [170]:
lst1 = [i for i in range(11)]
print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [308]:
%%time
cubo = []

for i in range(5): # eje x
    lst_x = []
    #print(i)
    for j in range(5): # eje y
        
        lst_y = []
        #print(lst_y)
        for k in range(5): # eje z
            
            lst_y.append(i)
            #print(lst_y)
        lst_x.append(lst_y)
        #print(lst_x)
    cubo.append(lst_x)
    #print(cubo)
cubo[1]

CPU times: total: 0 ns
Wall time: 0 ns

[[1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1]]

In [3]:
%%time
cubo1 = [[[i for k in range(5)] for j in range(5)] for i in range(5)]
cubo1[2]

CPU times: total: 0 ns
Wall time: 0 ns

[[2, 2, 2, 2, 2],
 [2, 2, 2, 2, 2],
 [2, 2, 2, 2, 2],
 [2, 2, 2, 2, 2],
 [2, 2, 2, 2, 2]]

In [177]:
cubo[2][3][1]

2

In [178]:
len(cubo)

5

In [181]:
cubo[2][3][2]

2

In [183]:
lst4 =  [i for i in range(20) if i%2==0]
lst4

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [188]:
lst5 = [i if i%2 == 0 and i!=0 else('hola' if i%2  and i!=0 else 'a') for i in range(20)]

In [189]:
lst5

['a',
 'hola',
 2,
 'hola',
 4,
 'hola',
 6,
 'hola',
 8,
 'hola',
 10,
 'hola',
 12,
 'hola',
 14,
 'hola',
 16,
 'hola',
 18,
 'hola']

In [190]:
lst5.remove('a')

In [191]:
lst5

['hola',
 2,
 'hola',
 4,
 'hola',
 6,
 'hola',
 8,
 'hola',
 10,
 'hola',
 12,
 'hola',
 14,
 'hola',
 16,
 'hola',
 18,
 'hola']

In [192]:
lst5.pop()

'hola'

In [193]:
lst5

['hola',
 2,
 'hola',
 4,
 'hola',
 6,
 'hola',
 8,
 'hola',
 10,
 'hola',
 12,
 'hola',
 14,
 'hola',
 16,
 'hola',
 18]

In [194]:
lst5.pop(3)

4

In [195]:
lst5

['hola',
 2,
 'hola',
 'hola',
 6,
 'hola',
 8,
 'hola',
 10,
 'hola',
 12,
 'hola',
 14,
 'hola',
 16,
 'hola',
 18]

In [200]:
#help(list)

In [203]:
lst.sort()

In [204]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [205]:
lst = [ 3, 1, 5, 6, 2, 7,]

In [207]:
lst.sort()
lst[::-1]

[7, 6, 5, 3, 2, 1]

In [209]:
lst.reverse()
lst

[1, 2, 3, 5, 6, 7]

## Tuplas

Inmutables

In [210]:
letras = ('a', 'b', 'c')

letras

('a', 'b', 'c')

In [211]:
type(letras)

tuple

In [212]:
for e in letras:
    print(e)

a
b
c

In [213]:
letras[1]

'b'

In [214]:
letras.append('d')

AttributeError: 'tuple' object has no attribute 'append'

In [215]:
letras.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [216]:
letras.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [217]:
letras[0] = 'b'

TypeError: 'tuple' object does not support item assignment

In [218]:
letras = list(letras)

letras

['a', 'b', 'c']

In [219]:
letras[0] = 'b'

In [220]:
letras

['b', 'b', 'c']

In [223]:
letras = tuple(letras)

In [224]:
letras

('b', 'b', 'c')

## Conjuntos (set)

In [234]:
lst = [1,1,1,1,1,1,1,1,1,1,12,2,2,2,2,2,2,3,3,3,3,3,3]

set(lst) # extrae los valores 칰nicos de la lista en orden

{1, 2, 3, 12}

In [235]:
s = set(lst)

In [236]:
s.add(90)

In [237]:
s

{1, 2, 3, 12, 90}

In [238]:
s.add(1)

In [239]:
s

{1, 2, 3, 12, 90}

In [240]:
s.remove(1)

In [241]:
s

{2, 3, 12, 90}

In [243]:
set_1 = set([1,2,1,1,1,1,1,3,4,4,44,5,22])

set_2 = set([3,6,33,3,3,3,1,7,8,2,2,67,2])

In [244]:
set_2

{1, 2, 3, 6, 7, 8, 33, 67}

In [245]:
union = set_1.union(set_2)
union

{1, 2, 3, 4, 5, 6, 7, 8, 22, 33, 44, 67}

In [246]:
set_1.intersection(set_2)

{1, 2, 3}

In [247]:
set_1.issubset(set_2)

False

In [248]:
set_1.issuperset(set_2)

False

In [249]:
set_1 - set_2

{4, 5, 22, 44}

In [250]:
set_1

{1, 2, 3, 4, 5, 22, 44}

In [251]:
set_2

{1, 2, 3, 6, 7, 8, 33, 67}

In [252]:
set_2 - set_1

{6, 7, 8, 33, 67}

In [253]:
set_1 & set_2 #interseccion

{1, 2, 3}

In [254]:
set_1 | set_2 # union

{1, 2, 3, 4, 5, 6, 7, 8, 22, 33, 44, 67}

## Diccionarios

In [255]:
dict()

{}

In [256]:
type({})

dict

In [257]:
dictio = {'key':'value', 3: 345, 'bool': True}

dictio

{'key': 'value', 3: 345, 'bool': True}

In [258]:
type(dictio)

dict

In [259]:
dictio['key']

'value'

In [260]:
dictio['key'] = 'new_value'

In [261]:
dictio['key']

'new_value'

In [263]:
dictio[3]

345

In [264]:
lst = [
    {'nombre': 'Pepe', 'edad':34, 'trabaja': False},
    {'nombre': 'Juan', 'edad':65, 'trabaja': False},
    {'nombre': 'Maria', 'edad':35, 'trabaja': True}
    
]

In [265]:
for e in lst:
    
    if e['trabaja']:
        print(e['nombre'])

Maria

In [266]:
dictio.keys()

dict_keys(['key', 3, 'bool'])

In [267]:
dictio.values()

dict_values(['new_value', 345, True])

In [268]:
dictio.items()

dict_items([('key', 'new_value'), (3, 345), ('bool', True)])

In [269]:
for e in dictio.items():
    print(e)

('key', 'new_value')
(3, 345)
('bool', True)

In [273]:
for k,v in dictio.items():
    print(v)

new_value
345
True

In [275]:
for k,v in dictio.items():
    print(v)

new_value
345
True

In [276]:
dictio.pop('key')

'new_value'

In [277]:
dictio

{3: 345, 'bool': True}

In [278]:
dictio['key']

KeyError: 'key'

In [279]:
dictio.get('key', 0)

0

In [280]:
dictio['key'] = None

In [281]:
dictio

{3: 345, 'bool': True, 'key': None}

In [283]:
dictio.get('key',0)

In [284]:
dictio

{3: 345, 'bool': True, 'key': None}

In [285]:
dictio['key'] = 0

In [286]:
dictio

{3: 345, 'bool': True, 'key': 0}

In [287]:
lst1 = ['a', 'b', 'c']
lst2 = [1,2,3]

In [288]:
zip(lst1, lst2)

In [290]:
dict(list(zip(lst1, lst2)))

{'a': 1, 'b': 2, 'c': 3}

In [292]:
dict(zip(lst1, lst2))

{'a': 1, 'b': 2, 'c': 3}

In [293]:
lst3 = [1,2,3,4,5,6]

In [294]:
dict(zip(lst1, lst3))

{'a': 1, 'b': 2, 'c': 3}

In [295]:
dict(zip(lst3, lst1))

{1: 'a', 2: 'b', 3: 'c'}

## M치s

`is` vs `==` [link](http://net-informations.com/python/iq/is.htm#:~:text=The%20is%20operator%20compares%20the,and%20%3D%3D%20comparison%20operators%20behave.)

In [296]:
a = [1,2]
b = [1,2]

In [297]:
a == b

True

In [298]:
a is b

False

In [299]:
a is a

True

In [304]:
b = a

In [305]:
a is b

True

`while 1` vs `while True`

[Python docs](https://docs.python.org/3/tutorial/controlflow.html)

Tutorial [Python Booleans](https://realpython.com/python-boolean/)

Charla de [Richard Feynman](https://www.youtube.com/watch?v=EKWGGDXe5MA) sobre computaci칩n